@import "tailwindcss";


body {
  background-color: var(--bg-color);
  color: #ffffff;
}

@theme {
  /* Custom color palette in oklch or hex */
  --color-mint-500: oklch(0.72 0.11 178);

  --bg-color: #000000;
  --text-color: #ffffff;

  --color-bg-main: #F2F6D0;
  --color-bg-secondary: #EFDCAB;
  --color-main: #D98324;
  --color-secondary: #443627;
}
